@{
    ViewBag.Title = "Demo";

    var productItems = ViewBag.ProductItems as SelectList;
}

<h2>Demo1 - 預設的作法, 使用 SelectList 類別</h2>
<div class="row">
    <div class="col-md-12">
        <h3>相關文章</h3>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/07/aspnet-mvc-52-new-feature-support-html.html" target="_blank">
                ASP.NET MVC 5.2 New Feature - Support HTML optgroup in DropDownList
            </a>
        </p>
    </div>
</div>
@Html.DropDownList("Product", productItems, "請選擇產品", new { @class = "form-control" })