@{
    ViewBag.Title = "Method5";
}

<h2>DropDownList - Method 5</h2>
<h3>DropDownList - SelectList 類別</h3>
<h3>使用 ViewBag</h3>
<hr />
Categories：@Html.DropDownList("Categories", (SelectList)ViewBag.Categories, "", new { @class = "form-control" })